<div class="row">
  {{#if isCurrentTicket}}
    <button class='btn btn-default' {{action 'closeTicket' ticket}}>Figured It Out</button>
  {{else}}
    {{#if teacherView}}
      <button class='btn btn-default' {{action 'closeTicket' ticket}}>Close Ticket</button>
    {{/if}}
  {{/if}}
  <div class="ticket-timestamp">
    <p>{{moment-from-now ticket.openedAt interval=15000}}</p>
  </div>
</div>
<div class="row">
  <div class="ticket-name">
    <h1>{{ticket.name}}</h1>
  </div>
  <div class="ticket-seat">
    <h1>{{ticket.seat}}</h1>
  </div>
</div>
<div class="row">
  <div class="ticket-issue">
    <p>{{ticket.issue}}</p>
  </div>
</div>
